.button1 {
    margin: 5px;
    background-color: #b0deed;
    border-radius: 5px;
    border: 1px solid;
}

.button2 {
    margin: 5px;
    background-color: #edaaaa;
    border-radius: 5px;
    border: 1px solid;
}